<h1>Static#index</h1>
<p>Find me in app/views/static/index.html.erb</p>
<p>For bootstrap testing mainly sofar</p>
<div data-toggle="collapse" data-target="#thatDiv">Collapse</div>
<p>See div below it collapses</p>
<div class="collapse in" id="thatDiv">
	<p>I'm in that div. I should collapse</p>
</div>
