<p>Football. Maps. FootballMapper. </p>
<p>Footballmapper is for high school football players, fans, scouts, parents, coaches - anyone involved or interested in Massachusetts high school football. </p>
<p>Our aim is to make finding relevant content easy and fun. We have sliders so that you can query teams. We have a twitter feed for real time game updates. We have a youtube feed so that you can link to game highlights.</p> 
<p>Our advertisers are real small businesses who update advertisements frequently. They usually display content directly related to an upcoming game. I hope you find the advertisements usefull. If you found a great place through an advertisement on Footballmapper, PLEASE LET ME KNOW.</p>
<p><img src="assets/george.jpg" /> Who developed Footballmapper? Hi, let me introduce myself: My name is George Kilmain. I am a web developer, pasionate football fan, and lover of maps.</p>
<p>Web application specs: This is a Ruby on Rails app. It uses the Google Maps API, Twitter API, Youtube API, Bootstrap, and various jQuery UI widgets.</p>  
