<div class="main_content_container">
  <span data-toggle="collapse" data-target=".main_content">Collapse</span>
  
  <ul class="nav nav-tabs">
    <li><a href="#home" data-toggle="tab">Home</a></li>
    <li><a href="#twit" data-toggle="tab">Twitter</a></li>
    <li><a href="#vids" data-toggle="tab">Videos</a></li>
  </ul>



  <div class="main_content collapse in" data-toggle="false">
    <div class="tab-content">
    <div class="tab-pane active" id="home">
      <p class="lead">A Quick Look Back to 2012</p>
      <p>Reading. Everett. St John's Prep. <i>Beverly</i>. Huh? Thats right: The Panthers were among the states perennial contenders finishing an impressive 13-0, beating Natick in the 2A Super Bowl. The Panthers were only one of three teams (Walpole and Lowell Catholic being the other two) to average scoring over 36 points while giving up less than 11. Beverly's Youtube video is featured under the video tab. Wow, awesome season Panthers!</p><p>Other stats worth noting: <b>Reading</b> was THE only team to give up less than a TD per game. Nasty! <b>Mansfield</b> had 5 losses (8 wins) including an early season route from the hands of <b>Stoughton</b> (9-2) but still made the Boston Globe Top 20. Whats up with that, Globe? Worst defense in Massachusetts? <b>Peabody</b>. The once proud program allowed an average of 42 points per game. Ouch.</p>
      <p>There are a lot more statistical anomalies you can find by using the sliders and checkboxes. See your results populated on the map. <b>2013 previews are right around the corner - stay tuned!</b></p>    
    </div>
    <div class="tab-pane" id="twit">
      <p class="lead">Twitta</p>
    </div>
    <div class="tab-pane" id="vids">
      <p class="lead">Videos</p>
      <iframe width="560" height="315" src="//www.youtube.com/embed/cAWLDUf0KFs" frameborder="0" allowfullscreen></iframe>
      <p>Beverly Panthers 2012 Youtube Video</p>
    </div>
  </div>
  </div>
</div>