<div class="main_content_container">
  <span data-toggle="collapse" data-target=".main_content">-</span>
  
  <ul class="nav nav-tabs">
    <li><a href="#home" data-toggle="tab">Home</a></li>
    <li><a href="#twit" data-toggle="tab">Twitter</a></li>
    <li><a href="#vids" data-toggle="tab">Videos</a></li>
  </ul>



  <div class="main_content collapse in" data-toggle="false">
    <div class="tab-content">
    <div class="tab-pane active" id="home">
      <p class="lead">A </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non consequat dui. Donec vestibulum, diam eget ullamcorper porttitor, libero tellus placerat elit, eu condimentum ipsum elit quis tellus. Mauris cursus interdum erat, in tincidunt orci elementum a. Nam pharetra, nisi in porta mollis, leo arcu mollis nisi, hendrerit rutrum purus sapien vitae turpis. Integer eu nibh lacus. Nunc est est, egestas molestie consequat nec, tempor eu augue. Fusce eget quam quis lorem lacinia elementum. Suspendisse eget elementum sapien. Nulla sit amet facilisis leo. Morbi tellus felis, iaculis nec sapien eget, pharetra laoreet mauris. Mauris blandit pretium sapien in tincidunt. Vestibulum sollicitudin nunc eu metus porttitor tincidunt.<p>
    </div>
    <div class="tab-pane" id="twit">
      <p class="lead">Twitta</p>
    </div>
    <div class="tab-pane" id="vids">
      <p class="lead">Videos</p>
      <iframe width="560" height="315" src="//www.youtube.com/embed/cAWLDUf0KFs" frameborder="0" allowfullscreen></iframe>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non consequat dui. Donec vestibulum, diam eget ullamcorper porttitor, libero tellus placerat elit, eu condimentum ipsum elit quis tellus. Mauris cursus interdum erat, in tincidunt orci elementum a. Nam pharetra, nisi in porta mollis, leo arcu mollis nisi, hendrerit rutrum purus sapien vitae turpis. Integer eu nibh lacus. Nunc est est, egestas molestie consequat nec, tempor eu augue. Fusce eget quam quis lorem lacinia elementum. Suspendisse eget elementum sapien.</p>
    </div>
  </div>
  </div>
</div>