html, body {
  height: 100%;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}

.map_container {
  width: 100%;
  height: 100%;
}

.gmaps4rails_map {
  width: 100%;
  height: 100%;
  position: relative;
}

#about_box {
-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
box-shadow:inset 0px 1px 0px 0px #f5978e;
background-color: rgba(242,69,55,1.0); /*#f24537*/
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
border:1px solid #d02718;
display:inline-block;
color:#eee;
font-family:arial;
font-size:15px;
font-weight: bold;
padding:6px 6px;
text-decoration:none;
text-shadow:1px 1px 0px #810e05;
position: absolute; 
bottom: 10px; 
left: 15px; 
z-index: 100; 
width: 180px;
}

#about_box h1 {
  text-align: left;
  font-size: 24px;
}
#about_box p {
margin: 5px 0;
text-align: center;
}

#advertiserLoginButton {
  padding: 5px;
  border-radius: 3px;
  z-index: 100;
  position: absolute;
  top: 20px;
  right: 125px;  
}

#advert_box {
  background: #eee;
  width: 400px;
  margin: 0 0 5px 0;
  border-top: 1px solid #000;
 }

#contentBox {
  width: 400px;
  margin: 5px 0;
}

.break {
  clear: both;
}
#headerContentContainer {
  width: 200px;
  margin: 0 auto;
}
.headerContent {
  float: left;
  margin: 0 10px 0 0;
  font-size: 14px;
}

#filter_wrapper {
  position: absolute;
  top: 100px; 
  right: 15px; 
  z-index: 100; 
  width: 300px;
  background: #fff;
  padding: 20px; 
  box-shadow: 1px 1px 3px 1px #0066ff;
}

#filter_wrapper p {
  float:left;
  margin-left: 1px; 
  font-size: 10px;
}

#filter_wrapper input {
  float:right;
  margin-left: 1px; 
  font-size: 10px;
  background-color: transparent;
  border: 0px solid;
  width: 30px;
}

/*
.filter_box {
-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
box-shadow:inset 0px 1px 0px 0px #97c4fe;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
background-color:#3d94f6;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
border:1px solid #337fed;
display:inline-block;
color:#ffffff;
font-family:arial;
font-size:15px;
font-weight:bold;
padding:6px 6px;
text-decoration:none;
text-shadow:1px 1px 0px #1570cd;
cursor: pointer; 
float: right; margin: 0 0 5px 0; 
width: 175px;
}
*/

.log_button {
-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
box-shadow:inset 0px 1px 0px 0px #a4e271;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
background-color:#89c403;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
border:1px solid #74b807;
display:inline-block;
color:#ffffff;
font-family:arial;
font-size:15px;
padding:3px 6px;
text-decoration:none;
cursor: pointer;
}

#user_nav {
  position: absolute;
  top: 25px;
  right: 125px;
  z-index: 100;
 }
