// Place all the styles related to the Schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red: #990000;

#admin_panel_link {
	color: $red;
	font-weight: bold;
}

.main_content_container {
	position: absolute; 
	bottom: 20px; 
	left: 15px; 
	z-index: 100;
	width: 600px;
	padding: 20px; 
	overflow: auto;
}

.main_content {
	background: #fff;
} 

.notice {
	float: left;
}
